
.addbook-card{
    border: 99px solid #9f4500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 5px 5px 5px rgba(255, 113, 0, 0.75);
    width: 250px;
    height:300px;
    padding:5px;
    margin: 1rem 1rem;
    margin-bottom:0px;
    margin-top:10px;
    background-color: #9f4500;
}
input{
    width:100px;
    padding:5px;
    margin-left:50px;
    justify-content: right;
}
input::placeholder{
    text-align:center;
}
.add{
    display:flex;
    flex-direction: row;
    justify-content: right;
    margin-top:20px;
}
.btn-add{
    width:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}