.addBook-card{
    border: 3px solid #9f4500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 9px;
    box-shadow: 5px 5px 5px rgba(255, 113, 0, 0.75);
    width: 1000px;
    height:50px;
    padding:5px;
    margin-bottom: 20px;
}
input{
    width:100px;
    padding:5px;
    margin-left:50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
input::placeholder{
    text-align:center;
}
.add{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
button{
    height:27.5px;
}