.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width:fit-content;

}

.book-card {
    border: 3px solid #9f4500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 5px 5px 5px rgba(255, 113, 0, 0.75);
    width: 250px;
    height: 300px;
    padding: 5px;
    margin: 1rem 1rem;
}

h3 {
    text-align: center;
    color:black;
}

